@model NoticiasWeb.Admin.Models.ViewModels.EditViewModel
@{
    Layout = "Layout";
}

<form action="~/Admin/Save" method="POST" enctype="multipart/form-data">

    <input name="Id" type="hidden" value="@(Model.Noticia.Id)" required/>

    <label>Fecha</label>
    <span>@(Model.Noticia.Fecha)</span>
    <br/>

    <label>Titulo</label>
    <input name="Titulo" type="text" value="@(Model.Noticia.Titulo)" required/>
    <br/>

    <label>Contenido</label>
    <textarea name="Contenido" required>@(Model.Noticia.Contenido)</textarea>
    <br/>

    <label>Categoria</label>
    <select name="IdCategoria">
        <option value="0">-- Elija una categoria --</option>
        @foreach(var cat in Model.Categorias){
            if(cat.Id == Model.Noticia.IdCategoria) {
                <option value="@(cat.Id)" selected>@(cat.Nombre)</option>
            } else {
                <option value="@(cat.Id)">@(cat.Nombre)</option>
            }
        }
    </select>
    <br/>

    <label>Editor</label>
    <select name="IdEditor">
        <option value="0">-- Elija un editor --</option>
        @foreach(var edi in Model.Editores){
            if(edi.Id == Model.Noticia.IdEditor) {
                <option value="@(edi.Id)" selected>@(edi.Nombre)</option>
            } else {
                <option value="@(edi.Id)">@(edi.Nombre)</option>
            }
        }
    </select>

    <br/>


    <label> Imagen </label>
        @if(Model.Noticia.Id == 0) {
            <input  id="fileUpdoad" name="image" type="file" accept="image/jpeg" src="~/Images/nophoto.jpg"/>
            <br/>
            <img class="imgprevia" id="imgprev" src="~/Images/nophoto.jpg" alt="Vista previa de la raza"/>
        } else {
            <input  id="fileUpdoad" name="image" type="file" accept="image/jpeg" src="~/Images/@(Model.Noticia.Id).jpg"/>
            <br/>
            <img class="imgprevia" id="imgprev" src="~/Images/@(Model.Noticia.Id).jpg" alt="Vista previa de la raza"/>
        }
    <br/>

    <input type="submit" value="Guardar"/>

</form>
<script>
    function mostrarImagen(input) {
        if(input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                document.querySelector('#imgprev').src = e.target.result;
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    document.querySelector("#fileUpdoad").addEventListener("change", event => {
        mostrarImagen(event.target)
    });
</script>
