@model NoticiasWeb.Models.ViewModels.IndexViewModel
@{
    Layout = "Layout";
}

<form action="~/Home/Index" method="GET">
    <input name="search" type="text" value="@(Model.Search)"/>
    <input type="submit" value="buscar"/>
</form>

<nav class="desplegable">

    <label for="checkdesplegable"><i class="fa fa-bars"></i></label>
    <input type="checkbox" id="checkdesplegable" />

    <div class="panel">
        <ul>
            @foreach (var cat in Model.Categorias)
            {
            <li><a href="#"> @(cat.Nombre)  </a></li>
            }
        </ul>
    </div>
</nav>

<nav class="mostradorTarjetas">
@foreach (var cat2 in Model.Noticias)
{
<nav class="UserCard">
        <img src="~/images/@(cat2.Id).jpg" />
        <nav class="info">
            <p> @(cat2.Titulo) </p>
            <p> @(cat2.IdCategoriaNavigation.Nombre) </p>
            <p> @(cat2.Fecha) </p>
                <p> @if(cat2.Contenido.Length > 30) { @(cat2.Contenido.Substring(0, 30) + "...") } else { @(cat2.Contenido) }
                </p>
        </nav>
</nav>
}
</nav>





<ul class="Cardnew">
            @foreach (var cat in Model.Noticias)
            {
            <li><a href="~/Ver/@(cat.Titulo)"> @(cat.Titulo)  </a></li>
            }
</ul>

