@model NoticiasWeb.Models.Noticia
@{
    Layout = "Layout";
}

<div class="noticiacuerpo">
<h1> @Model.Titulo </h1>
<br/>
<label> Publicado el @(Model.Fecha), por @Model.IdEditorNavigation.Nombre </label>
<p> @Model.IdCategoriaNavigation.Nombre </p>
<br/>
<img src="~/Images/@(Model.Id).jpg"/>
<br/>
<br/>
<p> @Model.Contenido </p>

</div>


