@model NoticiasWeb.Models.Noticia
@{
    Layout = "Layout";
}


<h1> @Model.Titulo </h1>
<br/>
<p> Editor </p>
<br/>
<br/>
<p> @Model.IdEditorNavigation.Nombre </p>
<br/>
<p> @Model.Fecha </p>
<br/>
<p> @Model.IdCategoriaNavigation.Nombre </p>
<br/>
<p> @Model.Contenido </p>
<br/>


